extends layout/layout
block content
  //cards
  include blocks/cards
  include blocks/breadcrumbs
  main.main
    section.section
      .container
        .section-head.left
          h1.section__title доставка и Оплата
        .section__content
          h5.text-color-a ДОСТАВКА
          .row.align-center
            .col-xl-auto
              h6 по России
            .col-xl-auto
              img(data-src="img/cdek.png" alt="pay" style='display:block;height:26px;margin-bottom:1rem;').lazy
          p При получении заказа от курьера службы СДЭК или в пункте приема и выдачи заказов СДЭК, пожалуйста, тщательно проверьте доставленный Вам товар. Проверьте его на предмет целостности и комплектности. Если с заказом все в порядке и в случае отсутствия претензий от Вас потребуется расписаться в документах курьера (либо менеджеру в пункте выдачи заказов) и оплатить заказ (если он не был оплачен банковской картой на сайте). Ваша подпись в документах будет свидетельствовать о том, что у Вас нет претензий к полученному товару и магазин полностью выполнил свои обязательства.
          .row.align-center
            .col-xl-auto
              h6 по Москве
            .col-xl-auto
              img(data-src="img/dostavista.png" alt="pay" style='display:block;height:26px;margin-bottom:1rem;').lazy
          p При получении заказа от курьера службы СДЭК или в пункте приема и выдачи заказов СДЭК, пожалуйста, тщательно проверьте доставленный Вам товар. Проверьте его на предмет целостности и комплектности. Если с заказом все в порядке и в случае отсутствия претензий от Вас потребуется расписаться в документах курьера (либо менеджеру в пункте выдачи заказов) и оплатить заказ (если он не был оплачен банковской картой на сайте). Ваша подпись в документах будет свидетельствовать о том, что у Вас нет претензий к полученному товару и магазин полностью выполнил свои обязательства.
          h5.text-color-a ОПЛАТА
          h6 100% предоплата
          p К оплате принимаются все виды платежных карт. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.
          img(data-src="img/pay.png" alt="pay" style='display:block;width:100%;max-width:450px;padding:0 0 1rem 0;').lazy
          p Выбрав данный способ вы получаете возможность расплачиваться международными платежными системами Visa International и MasterCard World wide. Для выбора оплаты банковской картой при оформлении заказа выберите Способ оплаты «Оплата банковской картой».
          p После оформления на странице заказа нажмите кнопку «Перейти к оплате». Вы будете перенаправлены на платежный шлюз ПАО «Сбербанк России» для ввода реквизитов Вашей карты. Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.