aside.aside.col-xl-auto.col-sm-12
  .filter.toggle-group
    a(href="javascript:void(0)" data-hide-text='Скрыть фильтр' data-show-text='Показать фильтр').button.button_style-3.toggle-button.filter__toggle
      span Показать фильтр
      <i class="fas fa-filter"></i>
    .filter__container.toggle-content
      .filter__content.mb-20
        .filter__head
          h4.filter__title Подобрать косметику
        //filter-section
        .filter-section
          .filter-section__head
            h5.filter-section__title Цена
          .filter-section__content.filter-section__price
            span content
        //filter-section
        .filter-section.toggle-group.active
          a(href="javascript:void(0);").filter-section__head.toggle-button
            h5.filter-section__title Бренд
            i.fas.fa-chevron-down
          .filter-section__content.scroll-container.shadow.toggle-content
            .scroll-child
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Очень длинное название бренда
              label.checkbox
                i.fas.fa-check
                input(type="checkbox" disabled)
                | Название бренда
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Название бренда
        //filter-section
        .filter-section.toggle-group.active
          a(href="javascript:void(0);").filter-section__head.toggle-button
            h5.filter-section__title Страна производитель
            i.fas.fa-chevron-down
          .filter-section__content.scroll-container.shadow.toggle-content
            .scroll-child
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Алжир
              label.checkbox
                i.fas.fa-check
                input(type="checkbox" disabled)
                | Гондурас
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Папуа Новой Гвинеи
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | США
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Армения
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Алжир
              label.checkbox
                i.fas.fa-check
                input(type="checkbox" disabled)
                | Гондурас
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Папуа Новой Гвинеи
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | США
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Армения
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Алжир
              label.checkbox
                i.fas.fa-check
                input(type="checkbox" disabled)
                | Гондурас
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Папуа Новой Гвинеи
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | США
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Армения
        //filter-section
        .filter-section.toggle-group
          a(href="javascript:void(0);").filter-section__head.toggle-button
            h5.filter-section__title Бренд
            i.fas.fa-chevron-down
          .filter-section__content.scroll-container.shadow.toggle-content
            .scroll-child
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Очень длинное название бренда
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Название бренда
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Название бренда
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Название бренда
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Название бренда
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Название бренда
        //filter-section
        .filter-section.toggle-group
          a(href="javascript:void(0);").filter-section__head.toggle-button
            h5.filter-section__title Страна производитель
            i.fas.fa-chevron-down
          .filter-section__content.scroll-container.shadow.toggle-content
            .scroll-child
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Алжир
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Гондурас
              label.checkbox
                i.fas.fa-check
                input(type="checkbox")
                | Папуа Новой Гвинеи
      .filter__buttons.row.compact
        .col-xl-6
          button.button.button_style-4 Очистить
        .col-xl-6
          button.button.button_style-5 Применить
  .aside__banners.row.mb--30
    //необходимое количесвто баннеров
    .col-xl-12.col-sm-6.col-12.mb-30
      a(href="#").aside-banner.cover
        img(data-src="img/image10.jpg" alt="image").lazy
    .col-xl-12.col-sm-6.col-12.mb-30
      a(href="#").aside-banner.cover
        img(data-src="http://placehold.it/1024x1024" alt='image').lazy
  
  