section.section.banner
  .slider.banner-slider.dots
    a(href="#").slide.banner-slider__slide.cover
      img.lazy(data-src='img/image1.jpg' alt='banner')
    a(href="#").slide.banner-slider__slide.cover
      img.lazy(data-src='img/image1.jpg' alt='banner')
    a(href="#").slide.banner-slider__slide.cover
      img.lazy(data-src='img/image1.jpg' alt='banner')
    a(href="#").slide.banner-slider__slide.cover
      img.lazy(data-src='img/image1.jpg' alt='banner')
    a(href="#").slide.banner-slider__slide.cover
      img.lazy(data-src='img/image1.jpg' alt='banner')