footer.footer
  .container
    .footer__container.row.mb--30
      .footer__background.contain
        img.lazy(data-src='img/logos/logo.svg' alt='bg')
      .footer-nav.mb-30.col-xl-auto.order-2
        .row.justify-center.mb--30
          ul.footer-nav__list.mb-30.col-xl-auto
            li.footer-nav__item
              a(href="#").link.link_bordered.footer-nav__link О компании
            li.footer-nav__item
              a(href="#").link.link_bordered.footer-nav__link Бренды
            li.footer-nav__item
              a(href="#").link.link_bordered.footer-nav__link Контакты
            li.footer-nav__item
              a(href="#").link.link_bordered.footer-nav__link Публичная оферта
          ul.footer-nav__list.mb-30.col-xl-auto
            li.footer-nav__item
              a(href="#").link.link_bordered.footer-nav__link Оплата
            li.footer-nav__item
              a(href="#").link.link_bordered.footer-nav__link Доставка
            li.footer-nav__item
              a(href="#").link.link_bordered.footer-nav__link Возврат
            li.footer-nav__item
              a(href="#").link.link_bordered.footer-nav__link Адрес самовывоза
      .footer__center.mb-30.col-xl.col-md-12.order-md-4
        .footer__top-section
          .socials
            ul.socials__list.row.compact
              li.socials__item.col-xl-auto.mb-15
                a(href="#").socials__link
                  i.fab.fa-vk
              li.socials__item.col-xl-auto.mb-15  
                a(href="#").socials__link
                  i.fab.fa-facebook-f
              li.socials__item.col-xl-auto.mb-15 
                a(href="#").socials__link
                  i.fab.fa-instagram
              li.socials__item.col-xl-auto.mb-15 
                a(href="#").socials__link
                  i.fab.fa-twitter
              li.socials__item.col-xl-auto.mb-15 
                a(href="#").socials__link
                  i.fab.fa-odnoklassniki
          img(src="img/payment.png" alt="payment").footer__pay-img
        span.footer__message Увидели ошибку - сообщите нам нажав Ctrl+Enter
      .footer__contacts.mb-30.col-xl-auto.order-1
        .footer__top-section
          .logo.footer__logo
            a(href="#").logo__link
              img(src="http://placehold.it/250x60" alt='logo')
          a(href="tel:74950232424").link.footer__phone +7 495 023 24 24
        span.footer__info-txt с 10.00 до 19.00 / Пн - Пт